.carousel {
  margin: 20px auto;
  padding: 0 3%;
  width: 97%;
  position: relative;
  color: #fff;
  display: block;
  text-align: center;
}
.carousel figure {
  margin: 0 10px;
}
.carousel figcaption {
  margin-top: 5px;
}
.carousel img {
  width: 100%;
  margin: 0 auto;
}
.carousel article {
  text-align: start;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}
.carousel figcaption {
  margin-top: 2px;
}
.carousel h2 {
  font-weight: 400;
}
