.title {
  padding: 1.2rem;
}

.title h1 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
}
.title h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  max-width: 100%;
}
.description-movie {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #a3a3a3;
  display: inline-block;
}
.info-spacer {
  color: #a3a3a3;
  margin: 0 4px;
  margin: 0 6px;
  height: 4px;
  border: 1px solid #a3a3a3;
}
.companies {
  margin: 0;
  display: flex;
}
.companies span {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #a3a3a3;
  margin-right: 5px;
}
.companies ul {
  display: flex;
  flex-wrap: wrap;
}
.companies li {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin: 0 5px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  height: 100%;
  color: #fff;
}
.background {
  height: 100%;
  background: #0000008a;
  display: flex;
  align-items: center;
}
.list-actions {
  width: 50%;
  margin: 0 auto;
}
.play-btn-container {
  min-width: 200px;
  min-height: 70px;
  background: #fff;
  border-radius: 15px;
  color: #000000;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  font-weight: 600;
}
.play-btn-container label {
  margin-left: 2px;
}

.container-btn {
  display: flex;
  justify-content: space-around;
}
